Canciones.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Canciones" type="CancionesType"/>
  <xs:complexType name="CompositorType">
    <xs:sequence>
      <xs:element name="Nombres" type="xs:string"/>
      <xs:element name="Apellidos" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompositoresType">
    <xs:sequence>
      <xs:element type="CompositorType" name="Compositor" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductorType">
    <xs:sequence>
      <xs:element name="Nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductoresType">
    <xs:sequence>
      <xs:element type="ProductorType" name="Productor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Canci칩nType">
    <xs:sequence>
      <xs:element name="Titulo" type="xs:string"/>
      <xs:element type="CompositoresType" name="Compositores"/>
      <xs:element type="ProductoresType" name="Productores"/>
      <xs:element name="Sello" type="xs:string"/>
      <xs:element name="Artista" type="xs:string"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="duracion" use="optional"/>
    <xs:attribute type="xs:string" name="a침o" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CancionesType">
    <xs:sequence>
      <xs:element type="Canci칩nType" name="Canci칩n" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
